$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "variables";
@import "shared/base";

html {
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fimlachcollins&psig=AOvVaw3bNpdEORI-rAJuc_c-Laqf&ust=1587080650125000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDIqaXO6-gCFQAAAAAdAAAAABAK") center no-repeat fixed;
}

body {
  background: rgba(#000000, 0.6);
  padding: 0px 20px 20px 20px;
  min-height: 100vh;
}

.navbar-brand {
  font-size: 1.5em;
  img {
    display: inline-block;
    width: 50px;
  }
}

#root {
  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 20px;
  }
}

.btn-action {
  outline: none;
  border: none;
}


@import "main-window";
@import "call-window";
@import "call-modal";
